/*Reset de estilos*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.nav-item {
  list-style: none;
}

/*Estilos Globales*/
.bordeImg {
  border: 1px black solid;
}

.cartas {
  border: 1px black solid;
  width: 18rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.fondoCarrito {
  background-color: #E8E8E8;
}

/*Main*/
main {
  min-height: 100vh;
}

/*Header*/
header {
  background-color: #FFD700;
  border-bottom: 1px solid black;
}

.logoContainer {
  margin-right: auto;
}

.logo {
  width: 6.25rem;
  height: auto;
  padding-left: 5px;
}

.colorBtn {
  background-color: #fff44f;
  border: 1px black solid;
  color: black;
}

.btn {
  color: black;
}

.btn:hover {
  background-color: #fff44f;
  border-color: black;
}

.lupa {
  width: 1.563rem;
  height: 1.563rem;
}

.barraDeBusqueda {
  margin-right: 1.875rem;
}

.carritoDeCompras {
  width: 10vh;
  max-width: 2.5rem;
  margin-right: 0.938rem;
}

.busquedaCarrito {
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

/*Footer*/
.linkFooter {
  color: #444444;
  text-decoration: none;
}
.linkFooter:hover {
  text-decoration: underline;
}

.logoFooter {
  width: 100px;
  height: auto;
}

.cajaSocials {
  text-align: end;
}

.socialFooter {
  height: 30px;
  margin-top: 20px;
}

footer {
  background-color: #FFD700;
  margin-top: auto;
}

/*Index*/
.contenedorCarrusel {
  display: flex;
  align-items: center;
}

.fotoscarrusel {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.item {
  max-width: 100%;
  height: 450px;
  border: 1px solid;
}

.tituloProductos {
  background-color: black;
  text-align: center;
  font-weight: bold;
  color: white;
  padding: 1rem;
}

/*Productos*/
.catalogo {
  display: flex;
  flex-direction: column;
}

.barra-navegacion {
  color: white;
  padding: 1rem;
  padding-bottom: 0;
  background-color: black;
}
.barra-navegacion ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.botonCatalogo {
  border: 0;
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 16px;
  background-color: black;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}
.botonCatalogo:hover {
  background-color: #333;
  color: white;
}
.botonCatalogo.active {
  background-color: white;
  color: black;
  width: 100%;
  position: relative;
}

.catalogoProductos {
  background-color: white;
  border-radius: 2rem;
  padding: 2rem;
  padding-top: 1rem;
  color: black;
}

.cartasProductos {
  border: 1px black solid;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  max-width: 18rem;
}

/* Empresa */
.cajaImgEmpresa {
  display: flex;
  justify-content: center;
}

.imagenEmpresa {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
}

/*Contacto*/
.formulario {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.linea1,
.correoElectronico {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  gap: 10px;
}
.linea1 input,
.correoElectronico input {
  flex: 1;
}

label {
  margin-right: 10px;
}

textarea {
  width: 100%;
  resize: vertical;
}

.asunto {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.textArea {
  margin-top: 10px;
  margin-bottom: 10px;
}

.checkBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.checkBox label {
  display: flex;
  align-items: center;
}

.buttonForm {
  gap: 10px;
  display: flex;
}
.buttonForm button {
  width: 100px;
  height: 44px;
  padding: 10px 20px;
  font-size: 12px;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*Media Queries*/
@media (min-width: 349px) and (max-width: 900px) {
  .logoContainer {
    margin-left: auto;
    margin-right: auto;
  }
  .footerLogo {
    display: none;
  }
  .catalogo {
    display: grid;
    grid-template-columns: 2fr 9fr;
  }
  .catalogoProductos {
    padding: 0;
  }
  .barra-navegacion {
    padding-right: 0;
  }
  .categorias {
    position: sticky;
    top: 0;
  }
  .cartasProductos {
    max-width: 10rem;
  }
  .carousel .carousel-item {
    height: 125px;
  }
  .carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 130px;
  }
  main {
    min-height: auto;
  }
  .imagenCarrito {
    width: 150px;
    display: flex;
    margin: 0 auto;
  }
  .productoCarrito {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
@media (max-width: 989px) {
  .contenidoFooter {
    text-align: center;
    justify-content: center;
  }
  .cajaSocials {
    text-align: center;
  }
  .cajaImgEmpresa {
    display: none;
  }
  .imagenEmpresa {
    display: none;
  }
}
@media (min-width: 768px) {
  .productoCarrito {
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
