/*Media Queries*/
@media (min-width: 349px) and (max-width:760px) { 
    .logoContainer {
        margin-left: auto;
        margin-right: auto;
    }

    .footerLogo {
        display: none;
    }

    .catalogo {
        display: grid;
        grid-template-columns: 2fr 9fr;
    }

    .catalogoProductos {
        padding: 0;
    }

    .barra-navegacion {
        padding-right: 0;
    }

    .categorias {
        position: sticky;
        top: 0;
    }

    .carousel .carousel-item {
        height: 125px;
    }

    .carousel-item img {
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
        min-height: 130px;
    }

    main {
        min-height: auto;
    }

    .imagenCarrito {
        width: 150px;
        display: flex;
        margin: 0 auto;
    }
    
    .productoCarrito{
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .info {
        a,p {
            font-size: 12px;
        }
    }

    .categoriaIndex{
        grid-template-columns: repeat(1, 1fr);
    }

    .contenedorNews{
        padding: 40px 20px;
        text-align: center;
        h4{
            font-size: 22px;
        }
        p{
            font-size: 14px;
        }
    }
    .newsForm{
        width: 100%;
        input{
            height: 2.125rem;
        }
        button{
            height: 2.125rem;
            padding: 7px 15px;
        }
    }
}



@media (max-width: 989px) {
    .contenidoFooter {
        text-align: center;
        justify-content: center;
    }

    .cajaSocials {
        text-align: center;
    }

    .cajaImgEmpresa {
        display: none;
    }

    .imagenEmpresa {
        display: none;
    }

    .mapa{
        margin-bottom: 1rem;
    }
}

@media (min-width: 768px) {
    .productoCarrito{
        padding-bottom: 0.5rem;
        margin-bottom: 1.5rem;
    }

    .info{
        .infoBox{
            div{
                align-items: center;
                span{
                    margin-right: 10px;
                    margin-left: 8px;
                }
            }
        }
    }
}

@media (max-width:768px){
    
}