/*Media Queries*/
@media (min-width: 349px) and (max-width: 900px) {
    .logoContainer {
        margin-left: auto;
        margin-right: auto;
    }

    .footerLogo {
        display: none;
    }

    .catalogo {
        display: grid;
        grid-template-columns: 2fr 9fr;
    }

    .catalogoProductos {
        padding: 0;
    }

    .barra-navegacion {
        padding-right: 0;
    }

    .categorias {
        position: sticky;
        top: 0;
    }

    .cartasProductos {
        max-width: 10rem;
    }

    .carousel .carousel-item {
        height: 125px;
    }

    .carousel-item img {
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
        min-height: 130px;
    }

    main {
        min-height: auto;
    }

    
}

@media (max-width: 989px) {
    .contenidoFooter {
        text-align: center;
        justify-content: center;
    }

    .cajaSocials {
        text-align: center;
    }

    .cajaImgEmpresa {
        display: none !important;
    }

    .imagenEmpresa {
        display: none;
    }
}