/*Reset de estilos*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}
.nav-item {
    list-style: none;
}

/*Estilos Globales*/
.bordeImg {
    border: 1px black solid;
}

.cartas {
    border: black 1px solid;
    width: 18rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

    .fondoCarrito {
        background-color: #E8E8E8;
    }

/*Main*/
main {
    min-height: 100vh;
}